* {
    cursor: url("@/assets/images/ui/Cursor_Arrow.webp"), default;
}

[role="button"],
a:not(:disabled),
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: url("@/assets/images/ui/Cursor_Arrow_Active.webp"), default;

}