@import "va_variables.scss";


p {
    margin: 0;
    padding: 0;
}

.h-1 {
    font-size: 2rem;
}

.h-2 {
    font-size: 1.5rem;
}

.h-3 {
    font-size: 1rem;
}

:root {
    --popper-theme-background-color: #171722d5;
    --popper-theme-background-color-hover: #14131b;
    --popper-theme-text-color: #ffffff;
    --popper-theme-border-width: 0px;
    --popper-theme-border-style: solid;
    --popper-theme-border-radius: 6px;
    --popper-theme-padding: 15px;
    --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: 'DniproCity';
    src:
        url('@/assets/fonts/DniproCity-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}


.nav-link {
    color: white;
}


body {
    color: $text-color;
}


* {
    cursor: url("@/assets/images/ui/Cursor_Arrow.webp"), default;
}

// input {
//     cursor: url("@/assets/images/ui/Cursor_Crosshair.webp"), default;
// }

.test {
    background-color: aqua;
    border-color: red;
    border: 1px dashed red;
}

.btn:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="button"]:focus,
.uneditable-input:focus {
    box-shadow: none;
    outline: 0 none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: none;
    background: none;
}

@import "bootstrap/scss/bootstrap";